:root {
    --very-ligth-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #f7f7f7;
    --light-gray: #e2e2e2;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --red: rgb(230, 94, 94);
    --light-red: rgb(255, 240, 240);
    --quicksand: 'Quicksand', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--quicksand);
}

.login,
.email-sent {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    height: 200px;
    justify-self: center;
    display: none;
}

.tittle {
    font-size: 1.8rem;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    color: var(--black);
}

.subtittle {
    font-size: 1.6rem;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 300;
    color: var(--dark);
    margin-bottom: 32px;
}

.form,
.form-error {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-self: center;
    justify-content: space-between;
}

.form div {
    display: flex;
    flex-direction: column;
}

.etiqueta {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 700;
    color: var(--black);
}

.input-password,
.form-input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    padding: 6px;
    margin-bottom: 16px;
}

.primary-button-login-button {
    margin-top: 18px;
    border: none;
    border-radius: 8px;
    width: auto;
    height: 60px;
    background-color: var(--hospital-green);
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.email-image {
    border-radius: 50%;
    background-color: var(--text-input-field);
    justify-self: center;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    margin-bottom: 14px;
}

.email {
    width: 100px;
    height: 100px;
}

.resend-email,
.login-p {
    margin-top: 40px;
    font-size: 1.4rem;
    color: var(--very-ligth-pink);
    text-align: center;
    font-weight: 500;
}

.resend,
.login-a {
    text-decoration: none;
    color: var(--hospital-green);
}

.big-logo {
    width: 200px;
    height: 150px;
    justify-self: center;
    display: none;
}

.secondary-button-login-button {
    margin-top: 40px;
    width: 100%;
    height: 60px;
    border: 1px var(--hospital-green) solid;
    border-radius: 10px;
    background-color: var(--text-input-field);
    color: var(--hospital-green);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.create-acount {
    margin-top: 60px;
}

.margen-izquierda {
    text-align: left;
    font-weight: 700;
    margin-top: 40px;
}

.margen-arriba {
    margin-top: 16px;
}

.etiqueta-error {
    font-weight: bolder;
    color: var(--red);
}

.error-input {
    background-color: var(--light-red);
    border: solid 2px var(--red);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 6px;
    color: var(--dark);
    margin-bottom: 4px;
}

.login-error {
    color: var(--red);
    text-align: center;
    font-size: 1.2rem;
}

.error-button-login-button {
    width: 100%;
    height: 60px;
    background-color: var(--light-gray);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.forgot {
    margin-top: 4px;
}

.cards-container {
    display: grid;
    /*se usa para crear columnas, con repeat el primer parametro dice cuantas columnas y el segundo es el tama単o*/
    grid-template-columns: repeat(auto-fill, 240px);
    /*espacio entre las columnas*/
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    margin: 20px 10px 10px;
    border-radius: 20px;
    /*tama単o tal cual de la imagen independientemente del tama単o del cont*/
    object-fit: cover;
}

.product-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
    margin: 0 0;
}


/*nt-child posision de la etiqueta*/

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-family: var(--roboto);
    color: var(--black);
    font-size: 1.4rem;
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-weight: normal;
    font-family: var(--roboto);
    color: var(--very-ligth-pink);
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desktop-menu {
    width: 150px;
    height: auto;
    border: 1px solid var(--very-ligth-pink);
    text-align: end;
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu li {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
}

.desktop-menu .border {
    border-top: 1px solid var(--very-ligth-pink);
}

.tittle-menu {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark);
    text-decoration: none;
    font-family: var(--quicksand);
}

.tittle-sign {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hospital-green);
    text-decoration: none;
    font-family: var(--quicksand);
}

.mobile-menu {
    width: 250px;
    height: auto;
    text-align: initial;
    padding: 20px 20px 0px 20px;
}

.mobile-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.mobile-menu ul li {
    padding: 10px;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--black);
    font-family: var(--roboto);
}

.mobile-menu .menu-email {
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--very-ligth-pink);
}

.mobile-menu .menu-sign-mobile {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--hospital-green);
    text-decoration: none;
    font-family: var(--quicksand);
}

.mobile-menu .menu-orders {
    padding-top: 12px;
    border-top: 1px solid var(--very-ligth-pink);
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.tittle-order {
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.my-order-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.my-order-container {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 20px 24px;
    font-family: var(--roboto);
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bolder;
}

.order p span:nth-child(2) {
    font-size: 1.2rem;
    color: var(--very-ligth-pink);
}

.order .price {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: end;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-ligth-pink);
    align-self: center;
    font-size: 1.4rem;
}

.shopping-cart p:nth-child(3) {
    font-size: 1.6rem;
    font-weight: bold;
    align-self: center;
}

.orders {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
    padding: 24px 24px;
    font-family: var(--quicksand);
}

.orders p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.orders p span:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bolder;
}

.orders p span:nth-child(2) {
    font-size: 1.2rem;
    color: var(--very-ligth-pink);
}

.orders figure {
    width: 15px;
    height: 15px;
}

.orders .price {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: end;
    color: var(--dark);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid var(--very-ligth-pink);
}

.navbar-left {
    display: flex;
}

.menu {
    display: none;
}

.nav-logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 60px;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-ligth-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-shoping-cart {
    position: relative;
}

.navbar-shoping-cart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*hover para cambiar el a cuando pase el cursor*/

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.nav-email {
    color: var(--very-ligth-pink);
    font-size: 1.2rem;
    margin-right: 5px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.product-detail {
    position: relative;
    width: 360px;
    padding-bottom: 24px;
}

.product-detail-close {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--white);
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 10px;
    border-radius: 50%
}

.product-detail-close img {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.product-detail>img:nth-child(2) {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-info {
    width: 350px;
    font-family: var(--quicksand);
    margin: 10px 10px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-info p:nth-child(1) {
    margin-top: 12px;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info p:nth-child(2) {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 36px;
    color: var(--very-ligth-pink);
}

.product-info p:nth-child(3) {
    margin-top: 12px;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--very-ligth-pink);
}

.shopping-cart .img-close {
    width: 20px;
    height: 20px;
    margin-top: 12px;
}

.shopping-cart #product-name {
    color: var(--dark);
    align-self: center;
    font-size: 1.4rem;
}

@media (max-width: 640px) {
    .logo,
    .big-logo {
        display: block;
    }
    .secondary-button-login-button {
        margin-top: 120px;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
    .form-container {
        height: 90%;
    }
    .cards-container {
        display: grid;
        /*se usa para crear columnas, con repeat el primer parametro dice cuantas columnas y el segundo es el tama単o*/
        grid-template-columns: repeat(auto-fill, 140px);
        /*espacio entre las columnas*/
        gap: 26px;
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
    .tittle-order {
        visibility: hidden;
    }
    .menu {
        display: block;
    }
    .navbar-left ul,
    .nav-email {
        display: none;
    }
    .product-detail {
        position: absolute;
        right: 0;
        width: 100%;
    }
}